.quote {
    margin: 10px;
    padding: 10px;
    border: 1px solid #bbb;
    background-color: #4215e6;
  }
  .quote span {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
    background-color: #4d15e6;
  }